<div id="messages">
  <div id="message-view">
    <ol class="messages">

    </ol>
  </div>

  <div id="message-detail">
    <p>
      <span></span>
      <time></time>
    </p>
    <canvas id="dither-view" class="hidden"></canvas>
    <a href="javascript:;" data-action="reply" class="actions reply">Reply</a>
    <a href="javascript:;" data-action="close" class="actions close">Close</a>
    <div class="countdown"></div>
  </div>

  <form method="post" id="message-form" enctype="multipart/form-data">
    <textarea name="message" placeholder="write your message (maximum 200 characters)"></textarea>
    <img id="dither-preview-img" class="hidden" width="300">
    <input type="file" name="photo" id="photo-file" accept="image/*">
    <input type="hidden" name="width" id="image-width">
    <input type="hidden" name="height" id="image-height">
    <div class="dither-toggle">
      <label for="dither" class="checkbox">
        Dither photo
        <input type="checkbox" name="dither" data-action="dither">
      </label>
    </div>
    <input type="hidden" name="email">
    <input type="hidden" name="ttl">
    <span id="current-contact"></span>
    <div class="button-wrapper">
      <button data-action="contacts" class="selectors" type="button">choose a contact</button>
      <button data-action="upload-photo" class="selectors" type="button">upload a photo</button>
    </div>
    <ol id="contacts"></ol>
    <div id="message-status"></div>
    <button type="submit">Send</button>
    <a href="javascript:;" data-action="cancel" class="cancel">Cancel</a>
  </form>

  <form method="post" id="contacts-form">
    <h2>Add a new contact</h2>
    <p class="tip">
      Contacts will receive notifications only if they sign in and set it. So let them know
      the first time!
    </p>
    <input type="text" name="email" placeholder="add contact email">
    <div id="contact-status"></div>
    <button type="submit">Add</button>
  </form>

  <form method="post" id="email-notification-form">
    <h2>Email notifications</h2>
    <p class="tip">
      <% if session['email_notification'] %>
        <input type="checkbox" name="emailNotification" checked="checked">
      <% else %>
        <input type="checkbox" name="emailNotification">
      <% endif %>
      when someone sends you a message
    </p>
    <div id="email-notification-status"></div>
    <button type="submit">Update</button>
    <a href="javascript:;" data-action="cancel" class="cancel">Close</a>
  </form>

  <div id="footer">
    <a href="javascript:;" data-action="new-message">Message</a>
    <a href="javascript:;" data-action="add-contact-form">Settings</a>
    <a href="javascript:;" data-action="logout" id="logout">Sign out</a>
  </div>
</div>
