/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    background-color: #2d3235;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

body.fixed ol.messages {
    position: fixed;
    z-index: 0;
}

body.file-disabled button[data-action="upload-photo"] {
    display: none;
}

button[data-action="upload-photo"]:hover {
    opacity: 0.6;
}

textarea {
    font-family: Helvetica, Arial, sans-serif;
}

textarea, input[type="text"] {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

a {
    color: #1a85b6;
    text-decoration: none;
}

form {
    background: rgba(6, 6, 6, 0.55);
    clear: both;
    float: left;
    padding: 10px;
    position: fixed;
    width: 300px;
    z-index: 2;
}

#settings, #contacts-form {
    clear: both;
    float: left;
    margin-top: -10px;
    position: relative;
}

#contacts-form {
    margin-bottom: 2px;
}

#preview-img {
    left: 0;
    position: absolute;
    top: 0;
}

.hidden, .messages.hidden {
    display: none;
}

form.on {
    display: block;
}

form h2 {
    color: #fff;
    font-family: 'Oswald';
    font-size: 25px;
    line-height: 28px;
    margin-top: 5px;
}

/* Hack to ensure it works in Chrome b/c of a security
restriction with display: none; */
input[type="file"], textarea[name="photo_message"] {
    height: 1px;
    left: -9999px;
    position: absolute;
    width: 1px;
}

label.checkbox {
    color: #fff;
    display: block;
    float: right;
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    width: 110px;
}

.button-wrapper {
    clear: both;
    float: left;
    display: block;
    height: 20px;
    position: relative;
    width: 100%;
}

.button-wrapper button:first-child {
    float: left;
}

.button-wrapper button[data-action="upload-photo"] {
    background: url('../images/photo.png') no-repeat;
    float: right;
    font-size: 1px;
    margin: 0;
    text-indent: -9999px;
    width: 26px;
}

#settings form {
    border-bottom: 1px solid #333;
    display: block;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

#settings #email-notification-form {
    border-bottom: none;
    margin: 0 0 45px;
    padding: 20px 10px 10px 10px;
}

form p.tip {
    color: #aaa;
    font-size: 13px;
    font-weight: 100;
    line-height: 17px;
    text-align: center;
}

#wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 320px;
}

#inner-wrapper {
    background-color: rgba(41, 41, 41, 0.15);
    clear: both;
    float: left;
    min-height: 100%;
    position: relative;
    width: 100%;
}

#header, #messages {
    clear: both;
    float: left;
    position: relative;
    width: 320px;
}

h1, h2 {
    color: #fff;
    display: block;
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-family: 'Oswald';
}

#header {
    margin: 20px 0 10px;
}

#header h1 {
    color: #888;
    font-size: 40px;
}

ol.home {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

ol.home li {
    background-color: rgba(35, 35, 35, 0.35);
    color: #929292;
    font-size: 17px;
    font-weight: 100;
    line-height: 22px;
    margin: 2px auto;
    padding: 5px 10px;
    width: 300px;
}

.login {
    background-color: #444;
    clear: both;
    color: #888;
    display: block;
    font-family: 'Oswald';
    font-size: 27px;
    line-height: 35px;
    margin: 20px 0 2px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
}

.login, .login:hover {
    -webkit-transition-property: background color;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background color;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: ease;
    -ms-transition-property: background color;
    -ms-transition-duration: 2s;
    -ms-transition-timing-function: ease;
    transition-property: background color;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.login:hover {
    background-color: #24a8cd;
    color: #c9f3ff;
    text-shadow: #24677a 1px 1px 2px;
}

textarea, input[type="text"] {
    background-color: #eee;
    border: 0;
    color: #222;
    display: block;
    font-size: 15px;
    margin: 10px auto;
    padding: 5px;
    width: 290px;
}

textarea:focus, input[type="text"]:focus {
    background-color: #fff;
    box-shadow: inset #ccc 1px 1px 2px;
}

textarea {
    height: 60px;
    overflow: hidden;
    resize: none;
}

#message-view {
    clear: both;
    float: left;
    height: 100%;
    margin-bottom: 10px;
    width: 320px;
}

.messages {
    display: block;
    float: left;
    height: 100%;
    margin-bottom: 35px;
    width: 320px;
}

#settings ol li a {
    display: block;
    float: left;
    padding: 15px 10px 10px 10px;
    width: 300px;
}

.messages li, #contacts li a, #settings ol li {
    background-color: rgba(35, 35, 35, 0.4);
    color: #fff;
    clear: both;
    float: left;
    margin-bottom: 2px;
    width: 100%;
}

.messages li.has-media {
    background: rgba(35, 35, 35, 0.4) url(../images/has-media.png) no-repeat 287px 50%;
}

.messages li a span {
    display: block;
    float: left;
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 239px;
}

.messages li a {
    color: #fff;
    display: block;
    float: left;
    padding: 6px 8px;
}

.messages li:hover, #contacts li a:hover, #settings ol li a:hover {
    background-color: #171717;
}

button {
    background-color: transparent;
    border: 0;
}

#message-detail {
    background-color: rgba(41, 41, 41, 0.65);
    clear: both;
    color: #fff;
    float: left;
    font-size: 18px;
    line-height: 25px;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 300px;
    z-index: 2;
}

#message-detail span {
    font-weight: 100;
    text-align: left;
}

#message-detail time {
    margin-bottom: 20px;
}

#message-detail .actions {
    width: 70px;
}

#settings ol li a, .cancel, button, .actions {
    color: #fff;
    font-family: Oswald;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

.cancel, button, .actions {
    cursor: pointer;
    display: inline-block;
    margin: 20px 0 0;
    padding: 0;
}

.cancel, #char-limit {
    float: left;
}

#char-limit {
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    line-height: 25px;
}

#char-limit.over {
    color: #de2b2f;
}

.right {
    float: right;
}

#message-detail p {
    clear: both;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}

#message-detail p span {
    color: #fff;
    display: block;
    padding: 5px;
}

#message-detail .countdown {
    bottom: 10px;
    color: #fff;
    font-size: 42px;
    font-weight: 400;
    left: -25px;
    margin-left: 50%;
    position: absolute;
    width: 50px;
}

#status {
    background-color: #40995b;
    color: #fff;
    display: none;
    font-size: 12px;
    overflow: hidden;
    padding: 10px 5px;
    position: fixed;
    top: 5px;
    width: 310px;
    z-index: 3;
}

#status.on {
    display: block;
}

#status.error {
    background-color: #de2b2f;
}

time {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 13px;
    font-style: italic;
}

#contacts {
    clear: both;
    float: left;
    margin-bottom: 45px;
    width: 100%;
}

#current-contact {
    color: #fff;
    display: block;
    line-height: 35px;
    margin: 0;
}

#current-contact .avatar {
    margin-bottom: 5px;
    width: 35px;
}

#contacts li, #settings ol li {
    clear: both;
    float: left;
    position: relative;
}

#contacts li a {
    display: block;
    float: left;
    margin-bottom: 2px;
    padding: 3px;
    width: 314px;
}

#contacts li.button {
    text-align: center;
}

#contacts li.button {
    float: none;
    padding: 2px 10px;
}

#contacts li a span {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
}

.avatar {
    border-radius: 3px;
    display: block;
    float: left;
    margin-right: 10px;
    width: 40px;
}

#contacts li span.delete {
    background: url(../images/delete-contact.png) no-repeat 50% 50%;
    background-color: #de2b2f;
    display: block;
    font-size: 1px;
    height: 35px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 4px;
    width: 35px;
}

#contacts li span.delete:hover {
    background-color: #333;
    opacity: 0.7;
}

.overlay {
    background: rgba(6, 6, 6, 0.85);
    bottom: -200px;
    color: #fff;
    display: none;
    font-family: 'Oswald';
    font-size: 32px;
    left: 0;
    padding-top: 150px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 4;
}

.overlay p {
    margin-bottom: 20px;
}

#footer {
    bottom: 0;
    position: fixed;
    width: 320px;
    z-index: 3;
}

#footer a {
    background: rgba(6, 6, 6, 0.55);
    color: #fff;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 18px;
    height: 37px;
    line-height: 39px;
    margin: 2px 1px 0;
    padding: 0 1px;
    text-align: center;
    text-transform: uppercase;
    width: 90px;
}

#footer a:hover, #footer a:focus {
    background-color: rgba(3, 3, 3, 0.85);
}

#footer #new-message {
    background: url(../images/new-message.png) no-repeat;
    font-size: 1px;
    height: 36px;
    outline: hidden;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    width: 36px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    #footer #new-message {
        background-image: url(../images/new-message@2x.png);
        background-size: auto 36px;
    }

    .button-wrapper button[data-action="upload-photo"] {
        background-image: url(../images/photo@2x.png);
        background-size: auto 26px;
    }

    #contacts li span.delete {
        background: url(../images/delete-contact@2x.png);
        background-size: auto 18px;
    }

    .has-media {
        background: url(../images/has-media@2x.png);
        background-size: auto 26px;
    }
}
