#header
  h1 Detour

a(href='javascript:;', data-action='login', id='login') Sign in with Persona

#messages
  ol.home
    li Add an email address of a contact
    li Send a message to them
    li Contact views message
    li Message self destructs in 10 seconds
    li Rinse and repeat.
