#header
  h1 Detour

a(href='javascript:;', data-action='login-persona', class='login', id='login-persona') Sign in with Persona
a(href='javascript:;', data-action='login-facebook', class='login', id='login-facebook') Sign in with Facebook

#messages
  ol.home
    li Add an email address of a contact
    li Send a message to them
    li Contact views message
    li Message self destructs in 10 seconds
    li Rinse and repeat.
