li(id='#{message.key}', class='message-root')
  a(href='javascript:;', data-action='view')
    img(src='#{message.avatar}', class='avatar', data-action='view')
    span(data-action='view')= message.name
