extend layout

block header
  #header
    h1 Detour

block content
  ol.home
    li Send a message to an email address
    li Recipient views message
    li Message is deleted after 10 seconds
    li Rinse and repeat.
