/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    background-image: url(/images/background.jpg);
    font-family: Helvetica, Arial, sans-serif;
}

body, textarea {
    font-family: Helvetica, Arial, sans-serif;
}

textarea, input, button {
    margin-bottom: 10px;
}

a {
    color: #1a85b6;
    text-decoration: none;
}

form {
    background-color: rgba(1, 1, 1, 0.85);
    display: none;
    padding: 10px;
    position: absolute;
    width: 280px;
}

#contacts-form {
    display: none;
}

#wrapper {
    background-color: rgba(2, 2, 2, 0.25);
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 320px;
}

#header, #messages {
    clear: both;
    float: left;
    padding: 10px;
    position: relative;
    width: 300px;
}

h1, h2 {
    color: #333;
    display: block;
    font-family: 'Oswald';
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

ol.home {
    clear: both;
    display: block;
    list-style-position: inside;
    list-style-type: decimal;
    margin: 30px auto;
    padding: 0;
    width: 270px;
}

ol.home li {
    color: #555;
    font-size: 15px;
    margin-bottom: 8px;
    text-shadow: #111 1px 1px 2px;
}

#login {
    background-color: #1d92b3;
    border: 1px solid #668790;
    border-radius: 5px;
    box-shadow: inset #154952 1px 1px 5px;
    clear: both;
    color: #67d0ee;
    display: block;
    font-family: 'Oswald';
    font-size: 25px;
    margin: 0 auto;
    padding: 25px 10px;
    text-align: center;
    text-shadow: #257380 -1px -1px 0;
    text-transform: uppercase;
    width: 265px;
}

#login:hover {
    background-color: #24a8cd;
    color: #8be4fd;
    text-shadow: #399cac -1px -1px 0;
}

textarea, input[type="text"] {
    background-color: #59ccdf;
    border: 1px solid #73cbda;
    border-radius: 5px;
    box-shadow: inset #378896 1px 1px 2px;
    color: #24535b;
    display: block;
    font-size: 15px;
    margin: 10px auto;
    padding: 5px;
    width: 270px;
}

textarea:focus, input[type="text"]:focus {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: inset #ccc 1px 1px 2px;
}

textarea {
    height: 100px;
    overflow: hidden;
    resize: none;
}

button {
    background-color: #85b033;
    border: 0;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    float: right;
    font-family: 'Oswald';
    font-size: 17px;
    margin: 20px 0 0;
    padding: 2px 7px;
}

button:hover, #message-detail .actions:hover {
    background-color: #59ccdf;
    color: #333;
}

#message-view {
    clear: both;
    float: left;
    height: 100%;
    margin-bottom: 10px;
    width: 300px;
}

.messages {
    background-color: rgba(2, 2, 2, 0.25);
    border: 1px solid #191919;
    border-radius: 5px;
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}

.messages li:first-child {
    border-top: 0;
}

.messages li:last-child {
    border-bottom: 0;
}

.messages li {
    border-bottom: 1px solid #111;
    border-top: 1px solid #191919;
    clear: both;
    float: left;
    width: 100%;
}

.messages li a span {
    display: block;
    float: left;
    font-size: 15px;
    line-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 239px;
}

.messages li a {
    display: block;
    float: left;
    padding: 10px 8px;
}

.messages li a:hover {
    background-color: #222;
    color: #eee;
}

#message-detail {
    background-color: rgba(1, 1, 1, 0.85);
    box-shadow: inset #000 0 0 3px;
    color: #eee;
    display: none;
    font-size: 16px;
    height: 300px;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 2;
}

#message-detail .actions {
    background-color: #111;
    border-radius: 5px;
    color: #666;
    display: inline-block;
    font-family: 'Oswald';
    padding: 4px 10px;
    text-transform: uppercase;
}

#message-detail .reply, .cancel {
    float: left;
}

.cancel {
    bottom: 10px;
    left: 10px;
    position: absolute;
}

#message-detail .close {
    float: right;
}

#message-detail p {
    height: 250px;
    margin-bottom: 20px;
}

#message-detail .countdown {
    bottom: 20px;
    border: 5px solid #eee;
    border-radius: 100px;
    color: #eee;
    font-size: 30px;
    height: 50px;
    line-height: 52px;
    left: -25px;
    margin-left: 50%;
    position: absolute;
    width: 50px;
}

#message-status, #contact-status {
    color: #f0ca19;
    display: inline-block;
    float: left;
    padding-top: 5px;
}

#footer {
    background-color: rgba(1, 1, 1, 0.35);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    box-shadow: #111 0 0 8px;
    height: 30px;
    padding: 5px;
    position: fixed;
    width: 290px;
    z-index: 3;
}

#footer a {
    background-color: #191919;
    border-radius: 5px;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 15px;
    margin: 2px 2px;
    padding: 6px 5px;
    text-align: center;
    width: 82px;
}

#footer a:hover {
    background-color: #59ccdf;
    color: #333;
}

#contacts {
    margin-top: 8px;
}

#current-contact {
    color: #eee;
    display: block;
    margin-bottom: 8px;
}

#contacts li {
    margin-bottom: 2px;
}

#contacts li a {
    background-color: #111;
    border-radius: 5px;
    display: block;
    float: left;
    margin-bottom: 2px;
    padding: 3px;
    width: 275px;
}

#contacts li a:hover {
    background-color: #59ccdf;
}

#contacts li a:hover span {
    color: #333;
}

#contacts li a span {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 30px;
    width: 170px;
}

.avatar {
    border-radius: 5px;
    display: block;
    float: left;
    margin-right: 10px;
    width: 35px;
}

#contacts li span.delete {
    background-color: #222;
    border-radius: 100px;
    color: #555;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 20px;
    line-height: 22px;
    margin-top: 5px;
    position: absolute;
    right: 13px;
    text-align: center;
    width: 20px;
}

#contacts li span.delete:hover {
    background-color: #e51616;
    color: #ffb7b7;
}
