/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    background-image: url(/images/background.jpg);
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

body.fixed ol.messages {
    display: none;
    position: fixed;
    z-index: 0;
}

textarea {
    font-family: Helvetica, Arial, sans-serif;
}

textarea, input, button {
    margin-bottom: 10px;
}

a {
    color: #1a85b6;
    text-decoration: none;
}

form {
    clear: both;
    display: none;
    float: left;
    margin-bottom: 40px;
    margin-top: -10px;
    padding: 10px;
    position: relative;
    width: 300px;
    z-index: 2;
}

form.on {
    display: block;
}

form h2 {
    color: #555;
    font-family: 'Oswald';
    font-size: 18px;
    margin-top: 5px;
}

input[type="file"], textarea[name="photo_message"] {
    display: none;
}

.button-wrapper {
    float: left;
    display: block;
    width: 100%;
}

.button-wrapper button:first-child {
    float: left;
}

#photo-preview {
    display: none;
    margin: 10px 0;
    max-height: 100px;
    max-width: 300px;
}

#contacts-form {
    margin-bottom: 0;
    padding-bottom: 20px;
}

#api-form p {
    color: #aaa;
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;
    text-align: center;
}

#wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 320px;
}

#inner-wrapper {
    background-color: rgba(2, 2, 2, 0.25);
    clear: both;
    float: left;
    min-height: 100%;
    width: 100%;
}

#header, #messages {
    clear: both;
    float: left;
    position: relative;
    width: 320px;
}

h1, h2 {
    color: #232323;
    display: block;
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-family: 'Oswald';
}

ol.home {
    clear: both;
    display: block;
    margin: 10px auto;
    padding: 0;
    text-align: center;
    width: 270px;
}

ol.home li {
    color: #444;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 2px;
    padding: 5px 8px;
    text-shadow: #111 1px 1px 2px;
}

.login {
    background-color: #121212;
    border: 1px solid #668790;
    border-radius: 35px;
    clear: both;
    color: #3fa6c4;
    display: block;
    font-family: 'Oswald';
    font-size: 18px;
    margin: 10px auto;
    padding: 15px 5px;
    text-align: center;
    text-transform: uppercase;
    width: 245px;
}

.login, .login:hover {
    -webkit-transition-property: background color;
    -webkit-transition-duration: 2.3s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property: background color;
    -moz-transition-duration: 2.3s;
    -moz-transition-timing-function: ease;
    -o-transition-property: background color;
    -o-transition-duration: 2.3s;
    -o-transition-timing-function: ease;
    -ms-transition-property: background color;
    -ms-transition-duration: 2.3s;
    -ms-transition-timing-function: ease;
    transition-property: background color;
    transition-duration: 2.3s;
    transition-timing-function: ease;
}

.login:hover {
    background-color: #24a8cd;
    color: #cbf4ff;
    text-shadow: #399cac -1px -1px 0;
}

textarea, input[type="text"] {
    background-color: #59ccdf;
    border: 0;
    border-radius: 3px;
    color: #24535b;
    display: block;
    font-size: 15px;
    margin: 10px auto;
    padding: 5px;
    width: 290px;
}

::-webkit-input-placeholder, ::-moz-placeholder,
:-moz-placeholder {
    color: #24535b;
}

textarea:focus, input[type="text"]:focus {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: inset #ccc 1px 1px 2px;
}

textarea {
    height: 50px;
    overflow: hidden;
    resize: none;
}

button {
    background-color: #85b033;
    border: 0;
    border-radius: 15px;
    color: #333;
    cursor: pointer;
    float: right;
    font-family: 'Oswald';
    font-size: 16px;
    margin: 12px 0 0;
    padding: 2px 7px;
    min-width: 100px;
}

button:hover, #message-detail .actions:hover {
    background-color: #59ccdf;
    color: #333;
}

.selectors {
    background-color: #222;
    color: #777;
    font-size: 14px;
    padding: 2px 20px;
}

#message-view {
    clear: both;
    float: left;
    height: 100%;
    margin-bottom: 10px;
    width: 318px;
}

.messages {
    background-color: rgba(2, 2, 2, 0.25);
    border: 1px solid #191919;
    display: block;
    float: left;
    height: 100%;
    width: 100%;
}

.messages li:first-child {
    border-top: 0;
}

.messages li:last-child {
    border-bottom: 0;
}

.messages li {
    border-bottom: 1px solid #111;
    border-top: 1px solid #191919;
    clear: both;
    float: left;
    width: 100%;
}

.messages li a span {
    display: block;
    float: left;
    font-size: 15px;
    line-height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 239px;
}

.messages li a {
    color: #555;
    display: block;
    float: left;
    padding: 6px 8px;
}

.messages li a:hover {
    color: #aaa;
}

.messages li:hover {
    background-color: #171717;
    color: #eee;
}

#message-detail {
    background-color: rgba(1, 1, 1, 0.95);
    box-shadow: inset #000 0 0 3px;
    color: #aaa;
    display: none;
    font-size: 18px;
    font-weight: 100;
    height: 290px;
    line-height: 25px;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 2;
}

#message-detail .actions {
    background-color: #111;
    border-radius: 5px;
    color: #666;
    display: inline-block;
    font-family: 'Oswald';
    padding: 4px 10px;
    text-transform: uppercase;
}

#message-detail .reply, .cancel {
    float: left;
}

.cancel {
    bottom: 10px;
    left: 10px;
    position: absolute;
}

#message-detail .close {
    float: right;
}

#message-detail p {
    background-size: 100%;
    height: 240px;
    margin-bottom: 20px;
}

#message-detail p span {
    background-color: rgba(1, 1, 1, 0.75);
    display: block;
    padding: 5px;
}

#message-detail .countdown {
    bottom: 15px;
    border: 4px solid #bbb;
    border-radius: 100px;
    color: #bbb;
    font-size: 22px;
    height: 40px;
    line-height: 42px;
    left: -25px;
    margin-left: 50%;
    position: absolute;
    width: 40px;
}

#message-status, #contact-status, #api-status {
    background-color: #c92020;
    color: #ffcece;
    display: none;
    font-size: 12px;
    padding: 5px;
    position: absolute;
}

#message-status {
    right: 10px;
    top: 58px;
}

#contact-status {
    right: 10px;
    top: 60px;
}

#api-status {
    right: 10px;
    top: 90px;
}

#message-status.on, #contact-status.on, #api-status.on {
    display: inline-block;
}

#contacts {
    clear: both;
    float: left;
    margin-top: 20px;
    width: 100%;
}

#current-contact {
    color: #eee;
    display: block;
    margin-bottom: 8px;
}

#contacts li {
    margin-bottom: 2px;
    position: relative;
}

#contacts li a {
    background-color: #111;
    border-radius: 5px;
    display: block;
    float: left;
    margin-bottom: 2px;
    padding: 3px;
    width: 294px;
}

#contacts li a:hover {
    background-color: #59ccdf;
}

#contacts li a:hover span {
    color: #333;
}

#contacts li a span {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
}

.avatar {
    border-radius: 3px;
    display: block;
    float: left;
    margin-right: 10px;
    width: 35px;
}

#contacts li span.delete {
    background-color: #222;
    border-radius: 100px;
    color: #555;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 21px;
    line-height: 22px;
    margin-top: 5px;
    position: absolute;
    right: 8px;
    text-align: center;
    width: 21px;
}

#contacts li span.delete:hover {
    background-color: #e51616;
    color: #ffb7b7;
}

#footer {
    background-color: rgba(1, 1, 1, 0.45);
    bottom: 0;
    height: 30px;
    padding: 2px;
    position: fixed;
    width: 316px;
    z-index: 3;
}

#footer a {
    background-color: #171717;
    border-radius: 3px;
    box-shadow: inset #000 1px 1px 2px;
    color: #555;
    display: block;
    float: left;
    font-family: 'Oswald';
    font-size: 14px;
    margin: 2px 1px;
    padding: 6px 3px;
    text-align: center;
    width: 97px;
}

#footer a:hover {
    background-color: #1a1a1a;
    color: #1a85b6;
}
